/* !triangle($width, $height, $dir, $color) */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat; }

.hidden {
  display: none !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  clear: both;
  float: none;
  width: 0;
  height: 0; }

html, body {
  height: 100%; }

body {
  margin: 0; }

a:link, a:visited {
  text-decoration: none; }
a:hover, a:visited:hover {
  text-decoration: underline; }
a img {
  border: none; }

.width-wrapper {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

#container {
  min-height: 100%; }

.show-for-small {
  display: none; }
  @media only screen and (max-width: 400px) {
    .show-for-small {
      display: block; } }

@media only screen and (max-width: 400px) {
  .hide-for-small {
    display: none !important; } }

.show-for-medium {
  display: none !important; }
  @media only screen and (min-width: 400px) and (max-width: 720px) {
    .show-for-medium {
      display: block !important; } }

@media only screen and (min-width: 400px) and (max-width: 720px) {
  .hide-for-medium {
    display: none !important; } }

@media only screen and (max-width: 960px) {
  .show-for-large {
    display: none; } }

.hide-for-large {
  display: none !important; }
  @media only screen and (max-width: 960px) {
    .hide-for-large {
      display: block !important; } }

@media only screen and (max-width: 400px) {
  .show-for-large-and-medium, .show-for-medium-and-large {
    display: none !important; } }

.hide-for-large-and-medium, .hide-for-medium-and-large {
  display: none !important; }
  @media only screen and (max-width: 400px) {
    .hide-for-large-and-medium, .hide-for-medium-and-large {
      display: block !important; } }

.show-for-small-and-medium, .show-for-medium-and-small {
  display: none; }
  @media only screen and (max-width: 720px) {
    .show-for-small-and-medium, .show-for-medium-and-small {
      display: block !important; } }

.hide-for-small-and-medium, .hide-for-medium-and-small {
  display: block; }
  @media only screen and (max-width: 720px) {
    .hide-for-small-and-medium, .hide-for-medium-and-small {
      display: none !important; } }
