$blue: #5785D4;

// Measurements
$headerHeight: 120px;
$footerHeight: 350px;
$contentPadding: 10px;

// Page size breakpoints
$largeWidth: 960px;
$mediumWidth: 720px;
$smallWidth: 400px;
$pageWidth: 960px;


$cols: 12;
